.btn-gray{
    background-color: var(--gray-1);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;  
}

.btn-gray:hover{
    background: var(--gray-2);
    color: white;
}

.btn-gray:focus{
    outline-color: white;
}