@import 'theme.css';
@import 'buttons.css';
@import 'navbar.css';
@import 'borders.css';
@import 'icons.css';
@import 'presentation.css';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

body{
    background: var( --img-index-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
