::-webkit-input-placeholder {
    color: #161515;
}

.input-gray {
    background-color: var(--gray-3);
    border: 1px solid black;
    border-radius: 1%;
}

.input-gray:focus {
    outline-color: transparent;
}

input[type="text"], input[type="password"] {
    font: 15px/24px 'Muli', sans-serif;
    color: black;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}

.input-container {
    position: relative;
}

input[type="text"], input[type="password"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: black;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect {
    border: 1px solid black;
    padding: 7px 14px 9px;
    transition: 0.4s;
    border-radius: 1%;
}

.effect~.focus-border:before, .effect~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: 0.3s;
}

.effect~.focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.effect~.focus-border i:before, .effect~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background-color: #ffffff;
    transition: 0.4s;
}

.effect~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.effect:focus~.focus-border:before, .effect:focus~.focus-border:after {
    width: 100%;
    transition: 0.3s;
}

.effect:focus~.focus-border i:before, .effect:focus~.focus-border i:after {
    height: 100%;
    transition: 0.4s;
}