@import 'theme.css';

.navbar{
    display: flex;
    background-color: var(--gray-3);;
    height: 9vh;
}

.nav-title{
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.container-buttons{
    display: flex;
    width: 60%;
}

.nav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-button button{
    width: 60%;
    height: 80%;
}

.social-media{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
