.presentation{
    display: flex;
    align-items: center;
    height: 91vh;
}

.card{
    color: white;
    border: black solid 3px;
    height: 80%;
    width: 100%;
    margin: 0 20px 0 20px;
}

.card-img{
    border-bottom: 3px solid black;
    height: 40%;
}

.card-img img{
    height: 100%;
    width: 100%;
}

.card-body{
    text-align: center;
    height: 60%;
}

.card-body .title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    background: #2e2929ad;
    color: white;
    height: 14%;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-body .text{
    background: #2e2929ad;
    height: 86%;
    padding: 4%;
    text-align: justify;
}
