@import 'theme.css';
@import 'buttons.css';
@import 'inputs.css';
@import 'selects.css';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var( --img-index-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.login-form{
    color: black;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    background-color: var(--gray-3);
    border-radius: 1%;
    border: white 1px solid;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 2%;
}

.head div{
    width: 20%;
    height: 2.5rem;
    background: url("../img/sword-black.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.head h1{
    text-align: center;
    font-size: 1.5rem;
    cursor: default;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .input-container{
    width: 80%;
}

.body label, .body .section-select{
    width: 80%;
    margin: 3% 0 3% 0;
}

.body .section-select{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body>.section-select[id="section-country"]{
    margin-top: 6%;
}

.body .section-select label{
    width: 30%;
}

.body .section-select select{
    width: 100%;
    align-self: center;
    background: url("../img/chevron-down-solid-black.svg") no-repeat center right;
    background-size: 5%;
    background-position-x: 95%;
    -webkit-appearance: none;
}

.body .section-select select:focus{
    background: url("../img/chevron-down-solid-white.svg") no-repeat center right;
    background-size: 5%;
    background-position-x: 95%;
    -webkit-appearance: none;
}


.body .section-select .container-select{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.body button{
    border: black 1px solid;
    padding: 0.8em;
    width: 80%;
    font-weight: 700;
    opacity: unset;
    margin-bottom: 3%;
}